<h1 class="title">
    Algunos proyectos realizados</h1>
<div class="carousel-container">
    <div class="Examples" [style.transform]="'translateX(' + (-currentSlide * 100) + '%)'">
        <div class="ejemplo">
            <a href="https://github.com/LautaroMol/HotelApp" target="_blank" rel="noopener noreferrer">
                <img src="../../assets/hotel.gif">
            </a>
            <p>Proyecto de gestion de hotel realizado en grupo como trabajo de la carrera,
                cuenta con gestion de reservas controlado por fechas, control de habitaciones disponibles
                y todo lo necesario para manejar un sistema de reservas y habitaciones,
                incluyendo manejo de fechas, desarrolle el backend en .NET 6 y el frontend en blazor con bootstrap y 
                mudblazor
            </p>
        </div>
        <div class="ejemplo">
            <a href="https://github.com/LautaroMol/Practica-Tienda-Angular" target="_blank" rel="noopener noreferrer">
                <img src="../../assets/tienda.gif">
            </a>
            <p>Proyecto de registro de ventas para controlar stocks y realizar ventas, ademas de carga de productos,
                Backend hecho en asp.net y frontend en angular, es un proyecto recreado en base a otro proyecto de registro
                de ventas y de stock 
            </p>
        </div>
        <div class="ejemplo">
            <a href="https://play.google.com/store/apps/details?id=com.seasonmedicapps.seasonmedic">
              <div class="slideshow-container">
                <img *ngFor="let image of images; let i = index" [src]="image" [style.opacity]="i === currentImageIndex ? 1 : 0">
              </div>
            </a>
            <p>Aplicacion movil desarrollada en ionic con backend .NET con el proposito de ayudar a la telemedicina, organizar consultas, permitir pagos entre otras funciones.</p>
        </div> 
    </div>
    <button class="prev" (click)="prevSlide()">&#10094;</button>
    <button class="next" (click)="nextSlide()">&#10095;</button>
</div>