.about-me-content {
    text-align: center;
    color: #a0a0a0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    min-height: 100vh;
    padding-left: 70px;
  }
  
  .about-me-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .about-me-content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .about-me-content p {
    font-size: 1em;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
  }
  
  :host {
    background: none;
  }

  .skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 20px;
  }

  .skill-section {
    display: flex;
    align-items: center;
    max-width: 400px;
    min-height: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex: 1 1 300px;
  }

  .skill-text {
    text-align: left;
    margin-right: 20px;
  }

  .skill-icons {
    display: flex;
    flex-direction: column;
  }

  .skill-icons fa-icon {
    font-size: 5em;
    margin: 10px;
    color: #8d8c8e;
    position: relative;
    overflow: hidden;
  }



  .icon-glow {
    animation: soft-glow 3s ease-in-out infinite alternate;
  }

  @keyframes soft-glow {
    from {
        filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
    }
    to {
        filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.35));
    }
  }

.carousel-container {
    position: relative;
}

.prev, .next {
    display: none;
}



@media (max-width: 768px) {
    .about-me-content {
        padding-left: 0;
    }
    .skills-container {
        margin-left: 0;
    }
}
