<div class="about-me-content full-height-section">
    <h1>Mi Perfil</h1>
    <h2>Desarrollador Web Enfocado en Frontend</h2>
    <p>
      ¡Hola! Soy [Tu Nombre], un apasionado desarrollador web con experiencia en la creación de experiencias web atractivas y funcionales.
      Me especializo en el desarrollo frontend utilizando tecnologías modernas como HTML, CSS, y JavaScript. Estoy comprometido con la entrega de productos de alta calidad
      y siempre estoy en busca de aprender y mejorar mis habilidades.
    </p>
  </div>
  