.about-me-content {
    text-align: center;
    color: #a0a0a0;
    text-shadow: 2px 2px 2px #404040;
  }
  
  .about-me-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .about-me-content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .about-me-content p {
    font-size: 1em;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
  }
  
  :host {
    background: none;
  }
  
  .Languages fa-icon {
    margin-left: 30px;
    font-size: 4em;
    margin-top: 5px;
    color: #8d8c8e;
    animation: pulse 3s infinite; 
  }
  
  @keyframes pulse {
    0% {
      filter: brightness(1);
    }
  
    50% {
      filter: brightness(1.5);
    }
  
    100% {
      filter: brightness(1);
    }
  }
  
  .Languages {
    display: flex;
    align-items: center;
    align-items: baseline;
  }
  .language {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .language-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .language-icon-csharp {
    width: 60px; 
    height: 60px;
  }
  