<div class="about-me-content full-height-section">
  <h1>Informacion sobre mi</h1>
  <h2>Programador Fullstack</h2>
  <p>
    Hola! Soy Lautaro Maximiliano Castellanos Molina, actualmente estudiante en la tecnicatura de desarollo de software en su ultimo
    año y apasionado por la tecnologia, programo de forma seria desde 2019 y a lo largo del tiempo probe distintas tecnologias,
    hablo español y ingles en un nivel intermedio.
    Actualmente las que mejor manejo son:
  </p>
  <div class="Languages">
    <div class="language">
        <img src="../../assets/png-transparent-blazor-hd-logo-thumbnail.png" alt="Blazor" class="language-icon">
        <p>Blazor</p>
      </div>
      <div class="language">
        <img src="../../assets/png-transparent-c-thumbnail.png" alt="C#/Windows Form" class="language-icon">
        <p>C#/Windows Form</p>
      </div>
      <div class="language">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>SQL y .NET</p>
      </div>
    
      <div class="language">
        <fa-icon [icon]="faAngular"></fa-icon>
        <p>Angular</p>
      </div>
    
      <div class="language">
        <fa-icon [icon]="faGit"></fa-icon>
        <fa-icon [icon]="faGithub"></fa-icon>
        <p>Github y Git</p>
      </div>
    
      <div class="language">
        <fa-icon [icon]="faHtml5"></fa-icon>
        <p>HTML5</p>
      </div>
    
      <div class="language">
        <fa-icon [icon]="faBootstrap"></fa-icon>
        <p>Bootstrap</p>
      </div>
    
      <div class="language">
        <fa-icon [icon]="faCss3"></fa-icon>
        <p>Css3</p>
      </div>

      <div class="language">
        <fa-icon [icon]="faJs"></fa-icon>
        <p>JavaScript & Typescript</p>
      </div>
  </div>
</div>