<div class="about-me-content full-height-section">
  <h1 class="title">Mis tecnologias</h1>

  <div class="carousel-container">
    <div class="skills-container">
      <div class="skill-section">
        <div class="skill-text">
          <h3>Backend</h3>
          <p>Desarrollo de APIs robustas en .NET 8 y ASP.NET Core, integración con bases de datos SQL Server y autenticación con JWT. Experiencia implementando servicios automatizados (como MonthlyDebitService), control de pagos, suscripciones y lógica empresarial. Despliegue en entornos Docker y mantenimiento de bases de datos seguras.</p>
        </div>
        <div class="skill-icons">
          <fa-icon [icon]="faDatabase" class="icon-glow"></fa-icon>
          <fa-icon [icon]="faCode" class="icon-glow"></fa-icon>
          <fa-icon [icon]="faMicrosoft" class="icon-glow"></fa-icon>
        </div>
      </div>

      <div class="skill-section">
        <div class="skill-text">
          <h3>Frontend</h3>
          <p>Creación de interfaces modernas y responsivas con Angular e Ionic. Formularios validados, carga de imágenes en Cloudinary, manejo de errores desde backend y animaciones con UX fluido. Diseño adaptable para escritorio y mobile con Tailwind CSS y componentes reutilizables.</p>
        </div>
        <div class="skill-icons">
          <fa-icon [icon]="faAngular" class="icon-glow"></fa-icon>
          <fa-icon [icon]="faMobileAlt" class-="icon-glow"></fa-icon>
          <fa-icon [icon]="faPalette" class="icon-glow"></fa-icon>
        </div>
      </div>

      <div class="skill-section">
        <div class="skill-text">
          <h3>DevOps & Cloud</h3>
          <p>Configuración de entornos en Linux con Docker Compose, NGINX y SSL usando Let's Encrypt. Despliegue y mantenimiento de APIs en VPS, gestión de dominios con No-IP y automatización de certificados. Recientemente enfocado en tecnologías AWS, aprendiendo arquitectura cloud y soluciones escalables.</p>
        </div>
        <div class="skill-icons">
          <fa-icon [icon]="faLinux" class="icon-glow"></fa-icon>
          <fa-icon [icon]="faDocker" class="icon-glow"></fa-icon>
          <fa-icon [icon]="faServer" class="icon-glow"></fa-icon>
        </div>
      </div>
    </div>

  </div>
</div>